body
  form(action='/', method='POST')
    p
      | name: 
      input(type='text', name="aname", value='')
      |          address: 
      input(type='text',name="address" value='')
      |          contact: 
      input(type='text', name='contact', value='')
    input(type='submit', value='Submit')